body {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}
html {
    --orange-color-dark:#ea580c;
    --orange-color: #F97316;
    --orange-light: #FFEDD5;
}
.background {
    background-image: url("landing-materials/hero.jpg"); 
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center top;   
}
.conteiner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo {
    width: 100px; 
}
.link {
    display: flex;
    
}
.link-style:hover {
    color: var(--orange-color-dark);  
}
.link-style {
    text-decoration: none;
    color: black; 
    padding-left: 20px;   
}
.phone {
    display: flex;
    gap:10px;
}

.header-title {
    width: 600px;
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
}
.header-text {
    width: 400px;
    font-size: 20px;
    font-weight: 300;
    margin-top:50px;
    margin-bottom: 50px;
    color: rgb(94, 94, 94);
}
.button {
    background-color: var(--orange-color);
    color:white;
    font-size: 20px;
    border-radius: 8px;
    padding: 16px 32px;
    border: none;
}
.button:hover {
    background-color: var(--orange-color-dark);
}

.main-title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    padding-top: 100px;
}
.main-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 60px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f0f0ee;
    border-radius: 8px;
    padding:20px;
    border: none;  
}
.box-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.box-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #57534E;
}
.box-icon {
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    background-color: var(--orange-color);
    padding: 10px;
    border-radius: 8px;
}
.main-text {
    display: flex;
    margin-top: 100px;
    
}
.text-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;  
}
.text-content {
    margin-top: 20px;
    color: #44403C;
    line-height: 20px;

}
.main-image {
    width: 500px;
    margin-left: 50px;
}

.form {
    background-color: var(--orange-light);
    margin-top: 50px;
}
.form-conteiner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.form-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}
.form-text {
    color: #57534E;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}
.form-button {
    display: flex;
    justify-content: center;
    padding: 70px 0 100px;
}
.form-name {
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    margin-right: 10px; 
}
.form-name:focus {
   outline-color: var(--orange-color);   
}
.section {
    background-color:#FAFAF9;
}
.section-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
}
.reviews {
    width: 600px;
    border-bottom: 1px solid #D6D3D1;
    padding: 30px 0; 
}
.reviews-title {
    font-size: 18px;
}
.reviews-text {
    color: #57534e;
    line-height: 20px;
    margin-top: 20px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 50px; 
}
.box-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex-basis: 300px;
}
.product-title {
    font-size: 18px;
    color: var(--orange-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
.price {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}
.product-details {
  flex-grow: 1;  
}
.item {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-size: 14px;
    color: #78716C;
}
.price-icon {
    color: #65a30d;
    width: 20px;
    margin-right: 5px;
  }
.product-button {
    background-color: #FFEDD5;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: var(--orange-color-dark);
    padding: 10px 20px;
    margin-top: 20px;  
}
.product-button:hover {
    background-color: var(--orange-color);
        color:white;
}

.footer {
    background-color: #E7E5E4;
    height: 150px;
    margin-top: 50px;
}
.footer-contact {
    color: #78716C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    
}
.footer-social {
    font-size: 25px;
    
}
.footer-link {
   color: #78716C;
   text-decoration: none;  
}
.footer-link :hover {
   color: var(--orange-color)
}